.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  gap: 15px;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #444;
  transform: scale(1.05); /* Mărește butonul ușor la hover */
}

.button:active {
  transform: scale(0.95); /* Micșorează butonul la click */
}

.button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
